@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/Nunito\ Sans/NunitoSans_10pt-ExtraLight.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/Nunito\ Sans/NunitoSans_10pt-Light.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Nunito\ Sans/NunitoSans_10pt-Regular.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Nunito\ Sans/NunitoSans_10pt-Medium.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Nunito\ Sans/NunitoSans_10pt-SemiBold.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Nunito\ Sans/NunitoSans_10pt-Bold.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/Nunito\ Sans/NunitoSans_10pt-ExtraBold.ttf');
}

@layer base {
  :root {
    --gray-ctr-1: #FCFCFD;
    --gray-ctr-2: #98A2B3;
    --gray-ctr-3: #344054;
    --gray-ctr-4: #101828;
  }

  [data-theme="dark"] {
    --gray-ctr-1: #101828;
    --gray-ctr-2: #344054;
    --gray-ctr-3: #98A2B3;
    --gray-ctr-4: #FCFCFD;
  }
}
